{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p><span>{{ message }}</span></p><br>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="profil-box" style="width: 75%">
    <div class="box-header">
        <h2 class="soustitrelog">
            Création d'une nouvelle sortie
        </h2>
    </div>
    <form method="POST" action="{{url_for('ajoutsortie')}}">
    <div class="contenu">
        <div class="infos">
            <label for="theme">Thème&nbsp;:</label><br>
            <input type="text-area" name="theme" placeholder="Les rapaces" required><br>
        
            <label for="lieu">Lieu&nbsp;:</label><br>
            <input type="text-area" name="lieu" placeholder="Le Parc aux Rapaces de Madiran" required><br>
        
            <label for="dateS">Date&nbsp;</label><br>
            <input type="date" name="dateS" min="{{today}}" value="{{today}}" required><br>

        </div>
        <div class="activities">
            <label for="distance">Distance à parcourir en km&nbsp;:</label><br>
            <input type="number" step="0.1" min="0" max="99.9" name="distance" value="0" required><br>

            <label for="effectif">Effectif maximum</label><br>
            <input type="number" step="1" min="20" value= "20" name="effectif" required><br>

        </div>
        
    </div>
    <input type="submit" class="boutonIns" value="Création de sortie">
    </form>

</div>

{% endblock %}